<launch>
    <!-- 加载整个 YAML 文件 -->
    <rosparam command="load" file="$(find usv_mppi_controller)/config/config.yaml" />
    <!-- 启动节点 -->
    <node name="mppi_controller" pkg="usv_mppi_controller" type="mppi_controller" output="screen" />
    <!-- 启动轨迹生成 -->
    <node pkg="usv_mppi_controller" type="traj_generator.py" name="TrajGenerator" output="screen"/>
  </launch>
